/* goband css Document */

.goband_canvas{
    display: block;
    margin: 50px auto;
    /* 兼容模式 */
    -moz-box-shadow: -2px -2px 2px #EFEFEF, 5px 5px 5px #B9B9B9;
    -webkit-box-shadow: -2px -2px 2px #EFEFEF, 5px 5px 5px #B9B9B9;
    box-shadow: -2px -2px 2px #EFEFEF, 5px 5px 5px #B9B9B9;
}
.game_name{
    font-size: 20px;
    text-align: center;
    height: 10px;
}
.game_btn{
    margin: 0 auto;
    margin-top: 50px;
    width: 60px;
    height: 40px;
    border: 2px solid #999;
    color: #222;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
}
#game_btn{
    margin-right: 30px;
}
#game_back{
    margin-left: 30px;
}
.game_btn:hover{color: #FF3333;}

