<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {load href="/games/public/static/gameplatform/css/font-awesome.min.css"/}
    {load href="/games/public/static/gameplatform/foundation/css/foundation.min.css"/}
    {load href="/games/public/static/gameplatform/css/gphstyle.css"/}
    {load href="/games/public/static/gameplatform/js/jquery-3.3.1.min.js"/}
    {load href="/games/public/static/gameplatform/foundation/js/vendor/jquery.js"/}
    {load href="/games/public/static/gameplatform/foundation/js/vendor/foundation.min.js"/}
  </head>
  <script>
    $(document).ready(function(){
        $(document).foundation();
    });
  </script>
  <body>
    <div id="container">
