  <div class="option">
    <div class="selection">
      <div class="ico"><img width="40px" height="30px" src="/games/public/static/gameplatform/images/ico.jpg"/></div>
      <a href="{:url('home')}">首页</a>&nbsp;|
      <a href="{:url('games')}">游戏</a>&nbsp;|
      <a href="{:url('sort')}">排行</a>&nbsp;|
      <a href="{:url('personal')}">个人中心</a>
    </div>
    {notempty name="Think.session.valid_user"}
      <div class="player_lr">
        <i class="fa fa-user-circle-o fa-2x player"></i>
        <div class="player_logout">
          <ul class="no-bullet dropdown">
            <li><h6>{$Think.session.valid_user}</h6></li>
            <li><a href="{:url('logout')}">退出</a></li>
          </ul>
        </div>
      </div>
    {else/}
      <div class="home_lr">
        <a href="{:url('index?sta=login')}">登录</a>&nbsp;|
        <a href="{:url('index?sta=register')}">注册</a>
      </div>
    {/notempty}
  </div>
  {js href="/games/public/static/gameplatform/js/gphscript.js"/}
  
